.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 30px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#sign-up-form {
  width: 450px;
  margin: auto;
  padding: 40px;
  text-align: center;
  /* border-style: groove;
  border-radius: 5px; */
}

#mainlogo {
  margin: auto;
  padding: 40px;
  width: 300px;
}

.card {
  top: 2em;
  width: 22em;
  height: 30em;
  padding: 20px;
  text-align: center;
}

#leftcard {
  left: 350px;
  text-align: center;
}

.card-image {
  width: 200px;
  margin: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#seeker-sidebar {
  width: 400px;
  height: 700px;
  float: left;
  border-style: groove;
  border-radius: 5px;
  padding: 15px;
  margin: 40px;
}

.user-profile {
  border-style: groove;
  border-radius: 5px;
  width: 50%;
  height: 100%;
  margin: auto;
  text-align: center;
  padding: 2em;
}

.button {
  margin-left: auto;
  margin-right: auto;
}

.bind-form {
  width: 1000px;
  padding: 60px;
  margin: auto;
  border-style: groove;
  border-radius: 5px;
}

.post-new {

  margin: auto;
}

#profile-pic {
  margin: 5px;
  width: 200px;
  height: 200px;
}

#bg {
  background-image: url("./image/BindHomepage2.svg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: aqua; */
}

.form-bottom {
  text-align: center;
}

#seeker-button {
  position: relative;
 

}

#insider-button {

  position: relative;
 
}

.job-card {
  border-style: groove;
  border-radius: 5px;
  margin: 30px;
}

#welcome-text {
  text-align: center;
  margin-top: 1em;
}

#log-out-button {
  margin-left: 72%;
}

.delete-job {
  margin: auto;
}
